/* Bot Messages */

.rcb-bot-message-container {
	display: flex;
	flex-direction: column;
	align-items: baseline;
}

.rcb-bot-message {
	margin-top: 8px;
	padding: 8px 16px;
	border-radius: 16px;
	min-height: 20px;
	height: fit-content;
	width: fit-content;
	font-size: 14px;
 	overflow-wrap: anywhere;
	overflow: auto;
	white-space: pre-wrap;
	text-align: left;
	margin-left: 16px;
}

.rcb-bot-message-offset {
	margin-left: 50px;
}

.rcb-bot-message-entry {
	animation: rcb-animation-bot-message-entry 0.3s ease-in backwards;
}

.rcb-message-bot-avatar-container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}
.rcb-message-bot-avatar-heading {
	font-size: 12px;
	color: rgb(107 114 128 / var(--tw-text-opacity, 1));
}
.rcb-message-bot-avtar{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 24px;
	height: 24px;
	border-radius: 100%;
	background: linear-gradient(135deg, rgb(34, 123, 135) 0%, rgb(30, 41, 72) 100%)
}
