/* Send Button */

.rcb-send-button {
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	border: none;
	border-radius: 50%;
	cursor: pointer;
	transition: background-color 0.3s ease;
	height: 32px;
	width: 32px;
	margin-left: 8px;
	color: #FFFFFF;
}

/* Send Icon */

.rcb-send-icon {
	width: fit-content;
	height: 22px;
	color: #FFFFFF;
}