/* Close Chat Icon */

.rcb-close-chat-icon {
	display: flex;
	background: transparent;
	width: 25px;
	height: 25px;
	align-items: center;
	justify-content: center;
	border: none;
	border-radius: 100%;
	cursor: pointer;
	background-color: transparent;
}

.rcb-close-chat-icon:hover {
	background-color: #548b96;
}